* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  text-align: center;
  background-color: #eeeeee;
  font-family: 'Advent Pro', sans-serif;  
}

header {
  padding: 4rem 0;
  background-color: #534e52;
  text-align: center;

}

h1  {
  font-size: 5rem;
  color: #ffd369;
  margin: 1rem;
}

h2 {
  color: #a1767a;
  font-weight: 700;
  font-size: 3rem;
}

img {
  box-shadow: 1rem 1rem 4rem #aaaaaa;
}

nav {
  background-color: #ffd369;
}

article {
  margin: 1rem auto;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  list-style: none;
  width: 25%;
}

.nav-link {
  color: #534e52;
  text-decoration: none;
  display: block;
  font-size: 2em;
  padding: 1rem 2rem;
  transition-duration: 0.5s;
}

.nav-link:hover {
  background-color: #d4b05c;
  text-decoration: none;
}

.nav-header, .nav-toggle {
  display: none;
}

.nav-list {
  flex-wrap: wrap; 
}
.visible li {
  display: block;
}

.hero-section {
  margin: 0 auto;
  width: 80%;
  height: 20rem; 
  overflow: hidden;
 /*overflow only works with specific height
 width 100% is 100% of parent element*/
}

.main-section {
width: 80%;
margin: 1rem auto;
}

.section-heading {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

p {
  padding: 0 20%;
  line-height: 1.5;
}

/* Table Styles */

.menu-section {
  margin: 0.5rem auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  font-size: 1.2rem;
  margin: 0.5rem auto;
}

tr:nth-child(even) {
  background-color: #d1d1d1;
  color: #965d62;
}

tr:nth-child(odd) {
  background-color: #ffd46e;
  color: #965d62;
}

th, td {
  padding: 0.5rem 0;
}

th {
  background-color: #965d62;
  color: #ffd46e
}

th:last-child,
td:last-child {
  width: 20%;
}

footer {
  background-color: #534e52;
  color: #d4b05c;
  padding: 2rem 0; 
}

footer .social-link {
 color: #d4b05c; 
 margin-right: 5px;
}

@media all and (max-width: 426px) {
  header {
    padding: 2rem 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .nav-link {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  .main-section {
    width: 95%;
    margin: 0.5rem auto;
  }
  .nav-item {
    display: none;
    width: 100%;
  }

  .nav-header, .nav-toggle {
    display: block;
  }
  .nav-header {
    width: 80%;
  }
  .nav-toggle {
    width: 20%;
  }
  .hero-section {
  width: 100%;
  height: 3rem; 
}
section.main-section img {
 width: 60%; 
}
p {
  padding: 0 5%;
}
footer {
  padding: 1rem 0;
}
footer p {
  font-size: .75rem;
}
}