* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  text-align: center;
  background-color: #eeeeee;
  font-family: 'Advent Pro', sans-serif;  
}

header {
  padding: 4rem 0;
  background-color: #534e52;
}

h1  {
  font-size: 5rem;
  color: #ffd369;
}

h2 {
  color: #a1767a;
  font-weight: 700;
  font-size: 3rem;
}

img {
  box-shadow: 1rem 1rem 4rem #aaaaaa;
}

nav {
  background-color: #ffd369;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  list-style: none;
  width: 25%;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  color: #534e52;
  text-decoration: none;
  font-size: 2em;
  transition-duration: 0.5s;
}

.nav-link:hover {
  background-color: #d4b05c;
  text-decoration: none;
}

.nav-header, .nav-toggle {
  display: none;
}

.hero-section {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 15rem; 
  overflow: hidden;
 /*overflow only works with specific height
 width 100% is 100% of parent element*/
}

.slide {
 display: block;
 position: absolute; /*takes top left corner and aligns it with the containing element which is the class slide*/
 bottom: 0;  /* how far from its parents element we want it to be.aligns the top of the image. use bottom to align the bottom*/
 left: 0;
 opacity: 0;
 transition: opacity 1s;
}

.currentSlide {
  opacity: 1;
}

.button {
  display: block;
  position: absolute;
  top: 40%;
  color: #d4b05c;
  background-color: #534e52;
  padding: .5rem .5rem;
  transform: scale(0.75) translate(5px, 50%);
}

.button i {
  font-size: 2rem;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.main-section {
  width: 80%;
  margin: 3rem auto;
}

.section-heading {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

p {
  padding: 0 20%;
  line-height: 1.5;
}

/* Table Styles */

.menu-section {
  margin: 3rem auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

caption {
  font-size: 1.2rem;
  margin: 0.5rem auto;
}

tr:nth-child(even) {
  background-color: #d1d1d1;
  color: #965d62;
}

tr:nth-child(odd) {
  background-color: #ffd46e;
  color: #965d62;
}

th, td {
  text-align: left;
  padding: 0.5rem 0 0.5rem 2rem;
}

th {
  background-color: #965d62;
  color: #ffd46e
}

th:last-child,
td:last-child {
  width: 20%;
}

.booking-app img, .delivery-app img {
  margin: .5rem;
}

.delivery-app a {
  text-decoration: none;
}

footer {
  background-color: #534e52;
  color: #d4b05c;
  padding: 2rem 0; 
}

footer .social-link {
 color: #d4b05c; 
 margin-right: 5px;
 text-decoration: none;
}

@media all and (max-width: 426px) {
  header {
    padding: 2rem 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .nav-item {
    display: none;
    width: 100%;
  }
  .nav-link {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  .nav-link:hover {
    text-decoration: none;
  }
  .nav-header, .nav-toggle {
    display: block;
  }
 .nav-header {
    width: 80%;
  }
  .nav-toggle {
    width: 20%;
  }
  .nav-list {
    flex-wrap: wrap; 
  }
  .visible li {
    display: block;
  }
  .hero-section {
  width: 100%;
  height: 3rem; 
  }
  .main-section {
    width: 95%;
    margin: 0.5rem auto;
  }
  .main-section img {
    width: 60%; 
  }
  p {
    padding: 0 5%;
  }
  footer {
    padding: 1rem 0;
  }
  footer p {
    font-size: .75rem;
  }
}